<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.PortalDesa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".data.ui.main.activity.GantiPasswordActivity"></activity>
        <activity android:name=".data.ui.main.activity.VerifikasiKodeActivity" />
        <activity android:name=".data.ui.main.activity.LupaPasswordActivity" />
        <activity
            android:name=".data.ui.main.activity.test"
            android:label="@string/title_activity_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".data.ui.main.activity.DetailArtikelActivity" />
        <activity android:name=".data.ui.main.activity.Form.EditArtikel" />
        <activity android:name=".data.ui.main.activity.Form.TambahArtikelActivity" />
        <activity android:name=".data.ui.main.activity.ArtikelActivity" />
        <activity android:name=".data.ui.main.fragment.PenginapanSudahBayarFragment" />
        <activity android:name=".data.ui.main.activity.ListProdukPerMerchantActivity" />
        <activity android:name=".data.ui.main.activity.ListPenginapanPerMerchantActivity" />
        <activity android:name=".data.ui.main.activity.DetailDesaActivity" />
        <activity
            android:name=".data.ui.main.activity.merchant.UpdateProdukActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.DetailPenginapanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.BayarPesananActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.BayarPesananPenginapanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.Form.PemesananLangsung"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.admin.DaftarPesananActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.admin.DaftarAkunActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.PesananActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.PemesananActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.KeranjangActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.merchant.CreateProdukForm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.merchant.UpdatePenginapan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.merchant.CreatePenginapanForm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".data.ui.main.activity.merchant.PenginapanForm" />
        <activity
            android:name=".data.ui.main.activity.ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.Form.DaftarAdminDesa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.SignInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.admin.MainActivityAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.KecamatanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".data.ui.main.activity.PenginapanActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.ProductActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.DetailProductAcitivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".data.ui.main.activity.DetailKecamatanActivtiy"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>